<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <!--=================================XML CONNECTION DETAILS================================-->
  <configSections>
    <section name="microsoft.visualstudio.testtools" type="Microsoft.VisualStudio.TestTools.UnitTesting.TestConfigurationSection, Microsoft.VisualStudio.QualityTools.UnitTestFramework, Version=10.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
  </configSections>

  <microsoft.visualstudio.testtools>
    <dataSources>
      <add name="XmlDataSource" connectionString="xmlConnection" dataTableName="local" dataAccessMethod="Sequential" />
    </dataSources>
  </microsoft.visualstudio.testtools>

  <connectionStrings>
    <add name="xmlConnection" connectionString="C:\Users\jack.broughton\Documents\LocalBrowserConfigs.xml" providerName="Microsoft.VisualStudio.TestTools.DataSource.XML" />
  </connectionStrings>
</configuration>